@use '../../scss/' as *;

.sign-in-sign-up{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 200px auto;

    @include tablet{
        width: 60%;
        display: flex;
        margin: 100px auto;
        flex-direction: column;
    }

    @include mobile{
        width: 80%;
    }
}