@use '../../scss/' as *;

.logo{
    font-size: 2.5rem;
    font-weight: 600;

    @include flex(center, unset);

    img{
        margin-right: 0px;
        width: 70px;
        border-radius: 100px;

        @include mobile {
            width: 50px;
            margin-right: 0;
        }
    }
}

.header{
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.3s ease, background-color 0.3s ease;

    &.shrink{
        height: $header-shrink-height;
        background-color: $body-bg;
    }
}